.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.user-email{
  border: 3px solid darkgray;
padding: 7px;
border-radius: 6px;
margin-right: 3px;
}
.home-top-bar-section{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #0bb980;
  height: 67px;
}

.footer-main {
  text-align: center;
  display: flex;
  gap: 30rem;
 
}

.footer-p {
  color: black;
  /* margin: 100px 0px; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.blah .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 5px;
}