.left-arrow:hover{
    cursor: pointer;
    font-size: 1.5rem;
    transition: ease-in 200ms;
    color:  #0bb980;
}
.right-arrow:hover{
    cursor: pointer;
    font-size: 1.5rem;
    transition: ease-in 200ms;
    color:  #0bb980;
}
.left-arrow {
    margin-right: 15px;
}
.right-arrow {
    margin-left: 15px;
}